// =============================================================================
//  Footer Navigation
//==============================================================================

//settings
$display-flyout-icon: true;  //Options/ true, false
$dynamic-width:       false;  //Options/ true, false



//general
$footer-general-alignment:  null; //Options/ flex-start, center, flex-end
$footer-general-background: null;

//level 1  --main
$footer-1-alignment:      null; //Options/ left, right or center
$footer-1-width:          null;
$footer-1-font-size:      null;
$footer-1-font-weight:    null;
$footer-1-line-height:    null;
$footer-1-text-transform: null;
$footer-1-link-padding:   8px 16px;
$footer-1-border-bottom:  null;

//level 2  --dropdown
$footer-2-alignment:      null; //Options/ left, right or center
$footer-2-width:          240px;
$footer-2-font-size:      null;
$footer-2-font-weight:    null;
$footer-2-line-height:    null;
$footer-2-text-transform: null;
$footer-2-link-padding:   null;
$footer-2-border-bottom:  null;

//level 3  --flyout
$footer-3-alignment:      null; //Options/ left, right or center
$footer-3-width:          null;
$footer-3-font-size:      null;
$footer-3-font-weight:    null;
$footer-3-line-height:    null;
$footer-3-text-transform: null;
$footer-3-link-padding:   null;
$footer-3-border-bottom:  null;

//colors
//level 1
$color-footer-1-background:       #999 !default;
$color-footer-1-background-hover: #888 !default;
$color-footer-1-text:             #fff !default;
$color-footer-1-text-hover:       #fff !default;

//level 2
$color-footer-2-background:       #777 !default;
$color-footer-2-background-hover: #666 !default;
$color-footer-2-text:             #fff !default;
$color-footer-2-text-hover:       #fff !default;

//level 3
$color-footer-3-background:       #555 !default;
$color-footer-3-background-hover: #444 !default;
$color-footer-3-text:             #fff !default;
$color-footer-3-text-hover:       #fff !default;

//flyout icon
$icon-font-size:   20px;
$icon-content:     "\f105";
$icon-padding:     0 10px;




//styles
nav.footer {
  //general
  ////////////////////////////////////////////////////////
  ul {
    width: 100%;
    display: flex;
    justify-content: $footer-general-alignment;
    background: $footer-general-background;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    position: relative;
  }
  a {
    display: block;
  }

  //flyout icon
  @if $display-flyout-icon == true {

    //level 2
    ul ul {
      .nav__list--parent{
        &:hover {
          &:after {
            color: $color-footer-2-text-hover;
          }
        }
        a {
          padding-right: $icon-font-size * 1.5;
        }
        &:after {
          content: $icon-content;
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          color: $color-footer-2-text;
          font-size: $icon-font-size;
          padding: $icon-padding;
          z-index: 1;
        }
      }
    }
    
    //level 3
    ul ul ul {
      .nav__list--parent {
        &:after {
          color: $color-footer-3-text;
        }
        &:hover:after {
          color: $color-footer-3-text-hover;
        }
      }
    }

  }

  //level 1  --main level
  ////////////////////////////////////////////////////////
  > ul {
    > li > a {
      border-bottom:    $footer-1-border-bottom;
    }
    li {
      &:hover > a {
        background-color: $color-footer-1-background-hover;
        color: $color-footer-1-text-hover;
      }
    }
    a {
      background-color: $color-footer-1-background;
      color:            $color-footer-1-text;
      text-align:       $footer-1-alignment;
      width:            $footer-1-width;
      font-size:        $footer-1-font-size;
      font-weight:      $footer-1-font-weight;
      line-height:      $footer-1-line-height;
      text-transform:   $footer-1-text-transform;
      padding:          $footer-1-link-padding;
    }

  }

  //level 2  --dropdown
  ////////////////////////////////////////////////////////
  ul ul {
    display: none;
    position: absolute;
    width: auto;
    background-color: $color-footer-2-background;
    @if $dynamic-width == true {
      white-space: nowrap;
    }
    li {
      &:hover > a {
        background-color: $color-footer-2-background-hover;
        color: $color-footer-2-text-hover;
      }
      &:not(:last-child) a {
        border-bottom:    $footer-2-border-bottom;
      }
    }
    a {
      background-color: $color-footer-2-background;
      color:            $color-footer-2-text;
      text-align:       $footer-2-alignment;
      width:            $footer-2-width;
      font-size:        $footer-2-font-size;
      font-weight:      $footer-2-font-weight;
      line-height:      $footer-2-line-height;
      text-transform:   $footer-2-text-transform;
      padding:          $footer-2-link-padding;
    }

  }

  //level 3  --flyout and beyond!
  ////////////////////////////////////////////////////////
  ul ul ul {
    top: 0;
    left: 100%;
    background-color: $color-footer-3-background;
    li {
      &:hover > a {
        background-color: $color-footer-3-background-hover;
        color: $color-footer-3-text-hover;
      }
      &:not(:last-child) a {
        border-bottom:    $footer-3-border-bottom;
      }
    }
    a {
      background-color: $color-footer-3-background;
      color:            $color-footer-3-text;
      text-align:       $footer-3-alignment;
      width:            $footer-3-width;
      font-size:        $footer-3-font-size;
      font-weight:      $footer-3-font-weight;
      line-height:      $footer-3-line-height;
      text-transform:   $footer-3-text-transform;
      padding:          $footer-3-link-padding;
    }

  }


  li:hover > ul {
    display: block;
  }





}