/* =============================================================================
Projects - Left
============================================================================= */
.left {
	width: auto;
	height: 100%;
	left: 0;
	transform: translateX(-100%);
	&.open {
		transform: translateX(0%);
		z-index: 101;
		.tab {
			i.fa {
				transform: rotate(180deg) translateY(50%);
			}
		}
	}
	.tab {
		display: block;
		height: 200px;
		width: 30px;
		position: absolute;
		top: 50%;
		right: -28px;
		transform: translateY(-50%);
		transition: .5s ease all;
		&:hover {
			width: 45px;
			right: -44px;
		}
	}
	ul.gallery {
		padding: 0;
		margin: 0;
		height: 100%;
		display: flex;
		flex-direction: column;
		li.item {
			display: block;
			margin-bottom: 20px;
			width: 200px;
			height: 21%;
			flex: 0 1 21%;
			overflow: hidden;
			.showcase {
				position: relative;
				height: 100%;
				width: 100%;
				background-position: top !important;
			}
		}
	}
}