<div class="locations-hours locations-hours--variable">
  <div class="location location--1">
    <div class="location__title">
      <h5 itemprop="name">Location Title</h5>
    </div>
    <div class="location__info">
      <div class="location__address" itemprop="address" itemscope="" >
        <div class="location-address location-address--1" itemprop="streetAddress">
          1201 Infinity Court
        </div>
        <div class="location-address location-address--2" itemprop="streetAddress">
          Lincoln, NE 68512
        </div>
        <div class="location-address location-address--3" itemprop="streetAddress">
          Address Line 3
        </div>
        <div class="location-address location-address--4" itemprop="streetAddress">
          Address Line 4
        </div>
        <div class="location-address location-address--5" itemprop="streetAddress">
          Address Line 5
        </div>
      </div>
      <div class="location__phone">
        <div class="location-phone location-phone--1">
          <span class="label">Phone</span>
          <span class="value" itemprop="telephone" content="4024370100"><a href="tel:4024370100">402.437.0100</a></span>
        </div>
        <div class="location-phone location-phone--2">
          <span class="label">Phone2</span>
          <span class="value" itemprop="telephone" content="4024370100"><a href="tel:4024370100">402.437.0100</a></span>
        </div>
        <div class="location-phone location-phone--3">
          <span class="label">Phone3</span>
          <span class="value" itemprop="telephone" content="4024370100"><a href="tel:4024370100">402.437.0100</a></span>
        </div>
        <div class="location-phone location-phone--4">
          <span class="label">Phone4</span>
          <span class="value" itemprop="telephone" content="4024370100"><a href="tel:4024370100">402.437.0100</a></span>
        </div>
        <div class="location-phone location-phone--5">
          <span class="label">Phone5</span>
          <span class="value" itemprop="telephone" content="4024370100"><a href="tel:4024370100">402.437.0100</a></span>
        </div>
      </div>
      <div class="location__links">
        <div class="location-links-email">
          <span class="value"><a href="http://jaymee-essence.presencehost.net/products/annual-reports.html">Contact</a></span>
        </div>
      </div>
      <div class="location__hours">
        Hours and Information 
      </div>
    </div>
  </div>
</div>