<!-- start nav -->
<nav class="nav @@navClasses">

  <ul class="nav__list">
    <li class="nav-level-0 nav__list--parent nav__list--here"><a href="#">Main Item 1</a>
      <ul>
        <li class="nav-level-1"><a href="internal.html">Nav Dropdown 1-1</a></li>
        <li class="nav-level-1 nav__list--parent nav__list--here"><a href="internal.html">Nav Dropdown 1-2</a>
          <ul>
            <li class="nav-level-2 nav__list--here"><a href="internal.html">Nav Flyout 1-2-1</a></li>
            <li class="nav-level-2 nav__list--parent"><a href="internal.html">Nav Flyout 1-2-2 is really, really long and keeps on going</a>
              <ul>
                <li class="nav-level-2"><a href="internal.html">Nav Flyout 1-2-1</a></li>
                <li class="nav-level-2"><a href="internal.html">Nav Flyout 1-2-2 is really, really long and keeps on going</a></li>
                <li class="nav-level-2"><a href="internal.html">Nav Flyout 1-2-3</a></li>
                <li class="nav-level-2"><a href="internal.html">Nav Flyout 1-2-4</a></li>
                <li class="nav-level-2"><a href="internal.html">Nav Flyout 1-2-5</a></li>
              </ul>

            </li>
            <li class="nav-level-2"><a href="internal.html">Nav Flyout 1-2-3</a></li>
            <li class="nav-level-2"><a href="internal.html">Nav Flyout 1-2-4</a></li>
            <li class="nav-level-2"><a href="internal.html">Nav Flyout 1-2-5</a></li>
          </ul>
        </li>
        <li class="nav-level-1 nav__list--parent"><a href="internal.html">Nav Dropdown 1-3</a>
          <ul>
            <li class="nav-level-2"><a href="internal.html">Nav Dropdown 1-3-1</a></li>
            <li class="nav-level-2"><a href="internal.html">Nav Dropdown 1-3-2</a></li>
            <li class="nav-level-2 nav__list--parent"><a href="internal.html">Nav Dropdown 1-3-3</a>
              <ul>
                <li class="nav-level-3"><a href="internal.html">Nav Flyout 1-3-3-1</a></li>
                <li class="nav-level-3"><a href="internal.html">Nav Flyout 1-3-3-2</a></li>
                <li class="nav-level-3"><a href="internal.html">Nav Flyout 1-3-3-3</a></li>
                <li class="nav-level-3"><a href="internal.html">Nav Flyout 1-3-3-4</a></li>
                <li class="nav-level-3  nav__list--parent"><a href="internal.html">Nav Flyout 1-3-3-5</a>
                  <ul>
                    <li class="nav-level-4"><a href="internal.html">Nav Beyond 1-3-4-1</a></li>
                    <li class="nav-level-4"><a href="internal.html">Nav Beyond 1-3-4-2</a></li>
                    <li class="nav-level-4"><a href="internal.html">Nav Beyond 1-3-4-3</a></li>
                    <li class="nav-level-4"><a href="internal.html">Nav Beyond 1-3-4-4</a></li>
                    <li class="nav-level-4"><a href="internal.html">Nav Beyond 1-3-4-5</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="nav-level-2"><a href="internal.html">Nav Item 1-3-4</a></li>
            <li class="nav-level-2"><a href="internal.html">Nav Item 1-3-5</a></li>
          </ul>
        </li>
        <li class="nav-level-1 nav__list--parent">
          <a href="internal.html">Nav Dropdown 1-4</a>
          <ul>
            <li class="nav-level-2"><a href="internal.html">Nav Item 1-4-1</a></li>
            <li class="nav-level-2"><a href="internal.html">Nav Item 1-4-2</a></li>
            <li class="nav-level-2"><a href="internal.html">Nav Item 1-4-3</a></li>
            <li class="nav-level-2"><a href="internal.html">Nav Item 1-4-4</a></li>
            <li class="nav-level-2"><a href="internal.html">Nav Item 1-4-5</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="nav-level-0">
      <a href="internal.html">Nav Item 2</a>
    </li>
    <li class="nav-level-0 nav__list--parent">
      <a href="internal.html">Nav Item 3</a>
      <ul>
        <li class="nav-level-1 nav__list--parent">
          <a href="internal.html">Nav Item 3-1</a>
          <ul>
            <li class="nav-level-2"><a href="internal.html">Short 1</a></li>
            <li class="nav-level-2"><a href="internal.html">Short 2</a></li>
            <li class="nav-level-2"><a href="internal.html">Short 3</a></li>
            <li class="nav-level-2"><a href="internal.html">Short 4</a></li>
            <li class="nav-level-2"><a href="internal.html">Short 5</a></li>
          </ul>
        </li>
        <li class="nav-level-1 nav__list--parent">
          <a href="internal.html">Nav Item 3-5</a>
          <ul>
            <li class="nav-level-2"><a href="internal.html">s 1</a></li>
            <li class="nav-level-2"><a href="internal.html">s 2</a></li>
            <li class="nav-level-2"><a href="internal.html">s 3</a></li>
            <li class="nav-level-2"><a href="internal.html">s 4</a></li>
            <li class="nav-level-2  nav__list--parent"><a href="internal.html">s 5</a>
              <ul>
                <li class="nav-level-2"><a href="internal.html">Long Long Long Long Long Long Long 1</a></li>
                <li class="nav-level-2"><a href="internal.html">Long Long Long Long Long Long Long 2</a></li>
                <li class="nav-level-2"><a href="internal.html">s 3</a></li>
                <li class="nav-level-2"><a href="internal.html">Long Long Long Long Long Long Long 4</a></li>
                <li class="nav-level-2 nav__list--parent"><a href="internal.html">Long Long Long Long Long Long Long 5</a>
                  <ul>
                    <li class="nav-level-2"><a href="internal.html">short 1</a></li>
                    <li class="nav-level-2"><a href="internal.html">short 2</a></li>
                    <li class="nav-level-2"><a href="internal.html">short 3</a></li>
                    <li class="nav-level-2"><a href="internal.html">short 4</a></li>
                    <li class="nav-level-2 nav__list--parent"><a href="internal.html">short 5</a>
                      <ul>
                        <li class="nav-level-2"><a href="internal.html">1-2-1</a></li>
                        <li class="nav-level-2"><a href="internal.html">1-2-2 is really, really long and keeps on going</a></li>
                        <li class="nav-level-2"><a href="internal.html">1-2-3</a></li>
                        <li class="nav-level-2"><a href="internal.html">1-2-4</a></li>
                        <li class="nav-level-2"><a href="internal.html">1-2-5</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="nav-level-0">
      <a href="internal.html">Nav Item 4</a>
    </li>    
  </ul>
  
</nav>
<!-- end nav -->