<div class="collection collection--list" id="content_22708ae615a1ff868b8f3a8553605060">


  <ul class="collection__items">

    <li class="collection-item collection-item--has-image" id="content_22708ae615a1ff868b8f3a8553605060_item_5577490">
      <div class="collection-item__content">

        <div id="content_"  class="collection-item-image image" style="max-width: 200px;">
          <a href="http://www.firespring.org">
            <img width="200" height="82" alt="Firespring" src=" http://cdn.firespring.com/images/c92a8c3a-80e7-45ff-9a9c-eb8e8496e9e0.png">
          </a>

        </div>


        <div class="collection-item-label"><a href="http://www.firespring.org">Firespring</a></div>


      </div>
    </li>
    <li class="collection-item collection-item--has-image" id="content_22708ae615a1ff868b8f3a8553605060_item_5577489">
      <div class="collection-item__content">

        <div id="content_"  class="collection-item-image image" style="max-width: 183px;">

          <img width="183" height="70" alt="PrinterPresence" src=" http://cdn.firespring.com/images/aca87906-1fa3-4100-b985-d7a1671279ea.png">


        </div>


        <div class="collection-item-label">PrinterPresence</div>


      </div>
    </li>
    <li class="collection-item collection-item--has-image" id="content_22708ae615a1ff868b8f3a8553605060_item_5577488">
      <div class="collection-item__content">

        <div id="content_"  class="collection-item-image image" style="max-width: 200px;">
          <a href="http://www.nonprofithub.org" target="_blank">
            <img width="200" height="125" alt="Nonprofit Hub" src=" http://cdn.firespring.com/images/07f8d602-61de-42c3-9c9c-6ab51dc439bf.png">
          </a>

        </div>


        <div class="collection-item-label"><a href="http://www.nonprofithub.org" target="_blank">Nonprofit Hub</a></div>


      </div>
    </li>
    <li class="collection-item collection-item--has-image" id="content_22708ae615a1ff868b8f3a8553605060_item_5577491">
      <div class="collection-item__content">

        <div id="content_"  class="collection-item-image image" style="max-width: 200px;">

          <img width="200" height="124" alt="SignPresence" src=" http://cdn.firespring.com/images/00fd48e8-5ea9-4043-a5ec-a359f4a7fcec.png">


        </div>


        <div class="collection-item-label">SignPresence</div>


      </div>
    </li>

  </ul>

</div>