////////////// Header //////////////

header {
	background: @white;
	position: relative;

	.region-header {
		align-items: center;
		display: flex;
		width: 100%;
		justify-content: space-between;
		max-width: @wrap-width;
		margin: 0 auto;
		padding: @pad5;
	}

}

.front {

	header {
		@media @small {
			z-index: 2;
		}
		&:after {
			content: '';
			background: white;
			position: absolute;
			border: 0;
			height: 200px;
			width: 100%;
			@media @small {
				display: none;
			}
		}

		.region-header {
			@media @small {
				padding-bottom: 0;
			}
		}

	}

}

.logo--branding {

	.logo-area {
		max-width: 75px;

		img {
			height: auto;
			width: 100%;
		}

	}

	a {
		color: @black;
		display: flex;
		align-items: center;
		text-decoration: none;
	}

	h1 {
		color: @black;
		font-size: 30px;
		line-height: 0;
		margin: 0 0 0 20px;
		@media @small {
			font-size: 24px;
		}
	}

}


.menu-trigger {
	color: @black;
	cursor: pointer;
	font-size: 30px;
}


//// offcanvas menu ////

.offcanvas-menu {
	background: @ltgray;
	color: @black;
	height: 100%;
	padding: 40px;
	position: fixed;
	top: 0;
	right: 0;
	max-width: 300px; 
	transform: translateX(100%);
	transition: @transition-delay all;
	width: 90%;
	z-index: 99;
	@media @medium {
		padding: 20px;
	}
	&.is-visible {
		transform: translateX(0);
	}

	.main-menu {

		.close-trigger {
			cursor: pointer;
			font-size: 30px;
			text-align: center;
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 20px 0 0 0;

			li {
				margin-top: 15px;

				a {
					color: @black;
					display: block;
					font-family: @font-family-2;
					font-size: 30px;
				}

			}

		}

	}

}