////////////// Header //////////////

header {

	.region-header {
		align-items: center;
		display: flex;
		width: 100%;
		justify-content: space-between;
		max-width: @wrap-width;
		margin: 0 auto;
		padding: @pad5;
	}

}


.logo-area {
	max-width: 75px;

	img {
		height: auto;
		width: 100%;
	}

}


.menu-trigger {
	color: @black;
	font-size: 30px;
}