////////////// Header //////////////

header {
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	width: 100%;

	.region-header {
		align-items: center;
		display: flex;
		width: 100%;
		justify-content: space-between;
		max-width: @wrap-width;
		margin: 0 auto;
		padding: @pad5;
	}

}


.logo-area {
	max-width: 75px;

	img {
		height: auto;
		width: 100%;
	}

}