    <div class="news-articles news-articles--list" id="">

       <div class="news-article" id="">
       
           <div class="news-article-details">

               <div class="news-article-header">
           
                   <div class="news-article-meta news-article-meta--date">
                       <span class="date-month">May</span><span class="separator"> </span><span class="date-day">15</span><span class="separator">, </span><span class="date-year">2014</span>
                   </div>
           
                   <div class="news-article-title">
                       <h5><a href="#">Title</a></h5>
                   </div>
       
                   <div class="news-article-meta news-article-meta--author">
                       <span class="prefix">by</span><span class="author-name">Author</span>
                   </div>        

               </div>
           
               <div class="news-article-description">
                   Description
               </div>
               
           </div>
       
       </div>

       <div class="news-article" id="">
       
           <div class="news-article-details">

               <div class="news-article-header">
           
                   <div class="news-article-meta news-article-meta--date">
                       <span class="date-month">May</span><span class="separator"> </span><span class="date-day">15</span><span class="separator">, </span><span class="date-year">2014</span>
                   </div>
           
                   <div class="news-article-title">
                       <h5><a href="#">Title</a></h5>
                   </div>
       
                   <div class="news-article-meta news-article-meta--author">
                       <span class="prefix">by</span><span class="author-name">Author</span>
                   </div>        

               </div>
           
               <div class="news-article-description">
                   Description
               </div>
               
           </div>
       
       </div>

       <div class="news-article" id="">
       
           <div class="news-article-details">

               <div class="news-article-header">
           
                   <div class="news-article-meta news-article-meta--date">
                       <span class="date-month">May</span><span class="separator"> </span><span class="date-day">15</span><span class="separator">, </span><span class="date-year">2014</span>
                   </div>
           
                   <div class="news-article-title">
                       <h5><a href="#">Title</a></h5>
                   </div>
       
                   <div class="news-article-meta news-article-meta--author">
                       <span class="prefix">by</span><span class="author-name">Author</span>
                   </div>        

               </div>
           
               <div class="news-article-description">
                   Description
               </div>
               
           </div>
       
       </div>
        
        <div class="news-articles-archive">
            <a href="#">Archive</a>
        </div>
        
        
    </div>