<div class="collection collection--list" id="">

  <ul class="collection__items">
    
    <li class="collection-item collection-item--has-image" id="">
      <div class="collection-item__content">
        <div id="content_" class="collection-item-image image">
          <img width="" height="" alt="" src="graphics/_mockups/social/@@color/facebook.png">
        </div>
        <div class="collection-item-label">Label</div>
        <div class="collection-item-description"><p>Description</p></div>
      </div>
    </li>
    
    <li class="collection-item collection-item--has-image" id="">
      <div class="collection-item__content">
        <div id="content_" class="collection-item-image image">
          <img width="" height="" alt="" src="graphics/_mockups/social/@@color/linkedin.png">
        </div>
        <div class="collection-item-label">Label</div>
        <div class="collection-item-description"><p>Description</p></div>
      </div>
    </li>
    
    <li class="collection-item collection-item--has-image" id="">
      <div class="collection-item__content">
        <div id="content_" class="collection-item-image image">
          <img width="" height="" alt="" src="graphics/_mockups/social/@@color/twitter.png">
        </div>
        <div class="collection-item-label">Label</div>
        <div class="collection-item-description"><p>Description</p></div>
      </div>
    </li>

    <li class="collection-item collection-item--has-image" id="">
      <div class="collection-item__content">
        <div id="content_" class="collection-item-image image">
          <img width="" height="" alt="" src="graphics/_mockups/social/@@color/pinterest.png">
        </div>
        <div class="collection-item-label">Label</div>
        <div class="collection-item-description"><p>Description</p></div>
      </div>
    </li>

  </ul>

</div>