<div class="spotlight spotlight--list slider js-slider slider--no-carousel js-slider--no-carousel" id="">

  <div class="slider__contents js-slider__contents">

    <ul>

      <li class="slide slide--1">
        <div class="spotlight-content" id="">
          <a href="homepage.html">
            <!-- BEGIN spotlight image -->
            <div class="spotlight-image">
            <img alt="spot1" src="graphics/_mockups/spot1.jpg">
            </div>

            <!-- BEGIN spotlight overlay -->
            <div class="spotlight-overlay">
              <!-- BEGIN spotlight text -->
              <div class="spotlight-text">
                <div class="spotlight-text__title">
                  Spotlight #1 Title
                </div>
                <div class="spotlight-text__content">
                  Spotlight #1 text goes here.
                </div>
              </div>
              <!-- END spotlight text -->
              <!-- BEGIN spotlight button -->
              <div class="spotlight-button">
                <div class="spotlight-button__contents">
                  Spotlight #1 Button
                </div>
              </div>
              <!-- END spotlight button -->
            </div>
            <!-- END spotlight overlay -->
          </a>
        </div>
      </li>

      <li class="slide slide--2">
        <div class="spotlight-content" id="">
          <a href="homepage.html">
            <!-- BEGIN spotlight image -->
            <div class="spotlight-image">
              <img alt="spot2" src="graphics/_mockups/spot2.jpg">
            </div>
            <!-- END spotlight image -->
            <!-- BEGIN spotlight overlay -->
            <div class="spotlight-overlay">
              <!-- BEGIN spotlight text -->
              <div class="spotlight-text">
                <div class="spotlight-text__title">
                  Spotlight #2 Title
                </div>
                <div class="spotlight-text__content">
                  Spotlight #2 text goes here.
                </div>
              </div>
              <!-- END spotlight text -->
              <!-- BEGIN spotlight button -->
              <div class="spotlight-button">
                <div class="spotlight-button__contents">
                  Spotlight #2 Button
                </div>
              </div>
              <!-- END spotlight button -->
            </div>
            <!-- END spotlight overlay -->
          </a>
        </div>
      </li>

    </ul>

  </div>

  <!-- BEGIN .slider__controls -->
  <div class="slider__controls">

    <div class="slider-controls-nav">
      <a class="slider-nav slider-nav--prev" href="" aria-label="Go to Previous Slide"></a>
      <a class="slider-nav slider-nav--next" href="" aria-label="Go to Next Slide"></a>
    </div>

    <div class="slider-controls-pager"></div>

  </div>
  <!-- END .slider__controls -->

</div>