////////////// Paragraphs //////////////

//// section ////

.section {
	color: @white;
	min-height: 400px;
	padding: 100px 0;
	@media @medium {
		padding: @pad3 0;
	}
	&:nth-child(odd) {
		background: @white;
		color: @black;

		h1,h2,h3,h4,h5, a {
			color: @black;
		}

	}

	.section-inner {
		max-width: @wrap-width;
		margin: 0 auto;
		padding: @wrap-padding;
		width: 100%;
	}

	h1 {
		text-align: center;
	}

	h2 {
		font-size: 40px;
		margin-bottom: 10px;
		text-align: center;
		font-weight: 800;
	}

	h3 {
		font-size: 36px;
		text-align: center;
	}

	hr {
		margin-bottom: 30px;
	}

	a {
		color: @white;
	}

	p {
		text-align: center;
	}

	ul.social-menu {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		margin: 10px 0 0 0;
		list-style: none;

		li {
			margin: 0 15px;
			&:hover {
				a {
					color: @link-color;
				}
			}

			a {
				font-size: 32px;
			}

		}

	}

	ul.skills-grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		list-style: none;
		padding: 0;
		margin: 20px 0;

		li {
			flex: 0 1 33.33333%;
			font-size: 20px;
			padding: 20px;
			text-align: center;
			width: 33.33333%;
			@media @large {
				flex: 0 1 50%;
				width: 50%;
			}
			@media @small {
				flex: 0 1 100%;
				width: 100%;
			}

			.skill-image {
				background: @black;
				color: @white;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-content: center;
				margin: 0 auto;
				width: 150px;
				height: 150px;
				border-radius: 100%;
				position: relative;
				top: 20px;

				i {
					font-size: 50px;
					line-height: 0.9;
				}

				span {
					font-size: 14px;
					font-family: @font-family-2;
					font-weight: @bold;
					line-height: 1.2;
					padding: 10px 15px 0 15px;
					text-transform: uppercase;
				}

			}

			.skill-text {
				justify-content: center;
				font-size: 16px;
				padding: 40px 0 0 0;
			}

		}

	}

	.resume-link {
		padding: 10px;
		text-align: center;
		
		a {
			display: inline-block;
			width: auto;
			background: transparent;
			border: 2px solid @white;
			color: @white;
			font-size: 18px;
			font-weight: 600;
			text-align: center;
			font-family: @font-family-2;
			text-transform: uppercase;
			text-decoration: none;
			padding: 10px 40px;
			line-height: 1.2;
			&:hover {
				background: @white;
				color: @black;
			}
		}

	}

}

//// about ////

.about {
	@media @small {
		padding-top: 60px;
	}

	.text-wrap {
		max-width: 800px;
		margin: 0 auto;
	}

	.image {
		border-radius: 100%;
		height: 200px;
		overflow: hidden;
		margin: 15px auto;
		width: 200px;

		img {
			height: auto;
			width: 100%;
		}

	}

}

//// work ////

.work {

	ul.work-examples {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0;
		margin: 40px auto;
		max-width: 990px; 
		width: 100%;
		@media @small {
			margin: 20px auto;
		}

		li {
			flex: 0 1 300px;
			list-style: none;
			margin: 15px;
			width: 300px;
			@media @medium {
				flex: 0 1 48%;
				margin: 15px 1%;
				width: 48%;
			}
		}

		.image {
			height: 300px;
			width: 300px;
			margin: 0 auto;
			overflow: hidden;
			@media @small {
				height: 200px;
				width: 100%;
			}
			&:hover {

				img {
					transform: translateY(-50%);
					filter: grayscale(0);
				}

			}
		}

		span {
			font-family: @font-family-2;
			font-size: 16px;
			display: block;
			padding: 10px 0;
			text-transform: uppercase;
			text-align: center;
			font-weight: 600;
		}

		img {
			height: auto;
			filter: grayscale(0);
			position: relative;
			transform: translateY(0);
			width: 100%;
			transition: 5s ease all;
		}

	}

	ul.other-examples {
		list-style: none;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding: 0;
		margin: 0;

		li {
			padding: 10px;

			a {
				color: inherit;
				&:hover {
					color: @link-color;
					text-decoration: underline;
				}
			}

		}

	}

}


//// featured gallery ////

.featured-gallery {
	background: @white;
	background-size: 400px;
	margin-top: 50px;
	padding: 50px 0;
	transform: rotate(-6deg);
	position: relative;
	max-width: 100%;
	@media @small {
		margin: 0 0 -30px 0;
		top: -50px;
		z-index: 1;
		padding: 100px 0 0 0;
	}
	&:before {
		content: '';
		background: @white;
		width: 1000px;
		height: 100%;
		position: absolute;
		left: -999px;
		top: 0;
	}
	&:after {
		content: '';
		background: @white;
		width: 1000px;
		height: 100%;
		position: absolute;
		right: -999px;
		top: 0;
	}
}

//// swiper slideshow ////

@slideHeight: 200px;

.swiper-container {
	height: @slideHeight;
	width: 100%;
	max-width: @wrap-width;
	margin: 0 auto;
	padding: @wrap-padding;
	overflow: visible !important;
	@media @small {
		display: none;
	}

	.swiper-wrapper {

		.swiper-slide {

			.image {
				box-shadow: 0 0 15px 0px #555;
				height: @slideHeight;
				margin: 0 auto;
				overflow: hidden;
				width: @slideHeight;
				transition: @transition-delay all;
				&:hover {
					box-shadow: 0 0 15px 0px #000;

					img {
						filter: grayscale(0);
					}

				}

				img {
					height: auto;
					filter: grayscale(1);
					transition: @transition-delay all;
					width: 100%;
				}

			}

		}

	}

	// navigation //

	.swiper-button {
		background: @white;
		border-radius: 100%;
		color: @black;
		height: 50px;
		width: 50px;
		display: none;
		&:after {
			font-size: 20px;
		}
		&.swiper-button-next {

		}
		&.swiper-button-prev {

		}
	}

}