////////////// Paragraphs //////////////

//// section ////

.section {
	background: @black url('../img/pattern.png');
	background-size: 400px;
	color: @white;
	display: flex;
	align-items: center;
	min-height: 400px;
	padding: 100px 0;
	@media @medium {
		padding: @pad3 0;
	}
	&.welcome {
		height: 100vh;
	}
	&:nth-child(odd) {
		background-color: @white;
		color: @black;

		h1,h2,h3,h4,h5 {
			color: @black;
		}

	}

	.section-inner {
		max-width: @wrap-width;
		margin: 0 auto;
		padding: @wrap-padding;
		width: 100%;
	}

	h1 {
		text-align: center;
	}

	h2 {
		font-size: 40px;
		margin-bottom: 10px;
		text-align: center;
		font-weight: 800;
	}

	p {
		text-align: center;
	}

	ul.social-menu {
		display: flex;
		list-style: none;
		justify-content: center;
		padding: 0;
		margin: 0;

		li {
			list-style: none;
			padding: 10px;

			a {
				color: @white;
				font-size: 40px;
				&:hover {
					color: @blue;
				}
			}

		}

	}

	div.photo-gallery {

		.bottom-row {
			display: flex;
			align-items: center;
			justify-content: center;

			.image-lg {
				border-radius: 100%;
				overflow: hidden;
				margin: 10px;
				width: 250px;
				height: 250px;
			}

			.image-sm {
				border-radius: 100%;
				overflow: hidden;
				margin: 10px;
				width: 175px;
				height: 175px;
				&:first-child, &:last-child {
					width: 130px;
					height: 130px;
				}
			}

		}

		img {
			height: auto;
			width: 100%;
		}

	}

	ul.skills {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		list-style: none;
		padding: 0;
		margin: 40px 0;

		li {
			flex: 0 1 33.33333%;
			font-size: 20px;
			padding: 0 5px 20px 5px;
			text-align: center;
			width: 33.33333%;
		}

	}

}

.work {

	.project-gallery {
		display: flex;
		width: 100%;

		li {
			flex: 0 1 33.3333%;
			height: 400px;
			margin: 10px;
			overflow: scroll;
			width: 33.3333%;
		}

		img {
			height: auto;
			width: 100%;
		}

	}

}


//// featured gallery ////

.featured-gallery {
	background: @black;
	padding: 50px 0;
}

//// swiper slideshow ////

@slideHeight: 200px;

.swiper-container {
	height: @slideHeight;
	width: 100%;
	max-width: @wrap-width;
	margin: 0 auto;
	padding: @wrap-padding;
	overflow: visible !important;

	.swiper-wrapper {

		.swiper-slide {

			.image {
				height: @slideHeight;
				margin: 0 auto;
				overflow: hidden;
				width: @slideHeight;
				&:hover {

					img {
						filter: grayscale(0);
					}

				}

				img {
					height: auto;
					filter: grayscale(1);
					transition: @transition-delay all;
					width: 100%;
				}

			}

		}

	}

	// navigation //

	.swiper-button {
		background: @white;
		border-radius: 100%;
		color: @black;
		height: 50px;
		width: 50px;
		&:after {
			font-size: 20px;
		}
		&.swiper-button-next {

		}
		&.swiper-button-prev {

		}
	}

}