////////////// Paragraphs //////////////

//// section ////

.section {
	background: @black url('../img/pattern.png');
	background-size: 400px;
	color: @white;
	display: flex;
	align-items: center;
	min-height: 400px;
	padding: 100px 0;
	@media @medium {
		padding: @pad3 0;
	}
	&:nth-child(even) {
		background: @white;
		color: @black;

		h1,h2,h3,h4,h5 {
			color: @black;
		}

	}

	.section-inner {
		max-width: @wrap-width;
		margin: 0 auto;
		padding: @wrap-padding;
		width: 100%;
	}

	h1 {
		text-align: center;
	}

	h2 {
		font-size: 40px;
		margin-bottom: 10px;
		text-align: center;
		font-weight: 800;
	}

	h3 {
		font-size: 36px;
		text-align: center;
	}

	hr {
		margin-bottom: 30px;
	}

	p {
		text-align: center;
	}

	ul.social-menu {
		display: flex;
		list-style: none;
		justify-content: center;
		padding: 0;
		margin: 0;

		li {
			list-style: none;
			padding: 10px;

			a {
				color: @white;
				font-size: 40px;
				&:hover {
					color: @blue;
				}
			}

		}

	}

	ul.skills-grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		list-style: none;
		padding: 0;
		margin: 40px 0;

		li {
			
			flex: 0 1 33.33333%;
			font-size: 20px;
			padding: 10px 5px;
			text-align: center;
			width: 33.33333%;
			@media @large {
				flex: 0 1 50%;
				width: 50%;
			}
			@media @small {
				flex: 0 1 100%;
				width: 100%;
			}

			.skill-image {
				background: @white;
				color: @black;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-content: center;
				margin: 0 auto;
				width: 150px;
				height: 150px;
				border-radius: 100%;
				position: relative;
				top: 20px;

				i {
					font-size: 40px;
				}

				span {
					font-size: 14px;
					font-family: @font-family-2;
					font-weight: @bold;
					padding: 10px;
					text-transform: uppercase;
				}

			}

			.skill-text {
				background: rgba(255,255,255,0.1);
				height: 160px;
				justify-content: center;
				font-size: 16px;
				padding: 40px 20px 20px 20px;
				@media @small {
					height: auto;
				}
			}

		}

	}

}

.about {

	.image {
		border-radius: 100%;
		height: 200px;
		overflow: hidden;
		margin: 15px auto;
		width: 200px;

		img {
			height: auto;
			width: 100%;
		}

	}

}

.work {

	ul.work-examples {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0;
		margin: 40px auto;
		max-width: 990px; 
		width: 100%;

		li {
			flex: 0 1 300px;
			list-style: none;
			margin: 15px;
			width: 300px;
			@media @small {
				flex: 0 1 50%;
				width: 50%;
			}
		}

		.image {
			height: 300px;
			width: 300px;
			margin: 0 auto;
			overflow: hidden;
			@media @small {
				width: 100%;
			}
			&:hover {

					img {
						transform: translateY(-50%);
						filter: grayscale(0);
					}

				}
		}

		span {
			font-family: @font-family-2;
			font-size: 16px;
			display: block;
			padding: 10px 0;
			text-transform: uppercase;
			text-align: center;
			font-weight: 600;
		}

		img {
			height: auto;
			filter: grayscale(0);
			position: relative;
			transform: translateY(0);
			width: 100%;
			transition: 5s ease all;
		}

	}

	ul.other-examples {
		list-style: none;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding: 0;
		margin: 0;

		li {
			padding: 10px;

			a {
				color: @black;
				&:hover {
					text-decoration: underline;
				}
			}

		}

	}

}


//// featured gallery ////

.featured-gallery {
	background: @black url('../img/pattern.png');
	background-size: 400px;
	margin-top: 100px;
	padding: 50px 0;
	transform: rotate(-10deg);
	position: relative;
	max-width: 100%;
	&:before {
		content: '';
		background: @black;
		width: 1000px;
		height: 100%;
		position: absolute;
		left: -999px;
		top: 0;
	}
	&:after {
		content: '';
		background: @black;
		width: 1000px;
		height: 100%;
		position: absolute;
		right: -999px;
		top: 0;
	}
}

//// swiper slideshow ////

@slideHeight: 200px;

.swiper-container {
	height: @slideHeight;
	width: 100%;
	max-width: @wrap-width;
	margin: 0 auto;
	padding: @wrap-padding;
	overflow: visible !important;

	.swiper-wrapper {

		.swiper-slide {

			.image {
				height: @slideHeight;
				margin: 0 auto;
				overflow: hidden;
				width: @slideHeight;
				&:hover {

					img {
						filter: grayscale(0);
					}

				}

				img {
					height: auto;
					filter: grayscale(1);
					transition: @transition-delay all;
					width: 100%;
				}

			}

		}

	}

	// navigation //

	.swiper-button {
		background: @white;
		border-radius: 100%;
		color: @black;
		height: 50px;
		width: 50px;
		display: none;
		&:after {
			font-size: 20px;
		}
		&.swiper-button-next {

		}
		&.swiper-button-prev {

		}
	}

}