/* =============================================================================
General
============================================================================= */

.site-container {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.showcase-screen {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.75);
	z-index: 999;
	display: none;
	&.open {
		display: block;
	}
	.close-trigger {
		color: #ffffff;
		font-size: 40px;
		position: absolute;
		right: 20px;
		top: 20px;
		&:hover {
			cursor: pointer;
		}
	}
	img {
		text-align: center;
		width: auto;
		max-height: 80%;
		max-width: 80%;
		position: absolute;
		top: 50%;
		left: 50%;
    	transform: translateY(-50%)translateX(-50%);
	}
}